
<main>
  <div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a><img src="assets/Images/homeslider1.jpg" alt="first slide"></a>
        </div>
        <div class="carousal-caption">
          <h3></h3>
          <p></p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a><img src="assets/Images/homeslide2.jpg " alt="first slide"></a>
        </div>
        <div class="carousal-caption">
          <h3></h3>
          <p></p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a><img src=" assets/Images/homepage3.jpg" alt="first slide"></a>
        </div>
        <div class="carousal-caption">
          <h3></h3>
          <p></p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a><img src=" assets/Images/homeslide4.jpg" alt="first slide"></a>
        </div>
        <div class="carousal-caption">
          <h3></h3>
          <p></p>
        </div>
      </ng-template>
    </ngb-carousel>
    

  </div>

    <div class="intro">
      <!--<marquee direction="left" behavior="alternate"><b> Welcome to Ecommerce System</b> </marquee>-->
      <p>Welcome To Easy Buy</p>
      <p>Looking for Products??</p>
      <a (click)="gotoLogin()"><strong>SHOP NOW </strong><i class="bi bi-arrow-right"></i></a>
    </div>
  </main>
