<div class="about-page">
  <div class="about-section">
    <!-- <h1 style="background-color: rgb(249, 229, 254);">About Us </h1> -->
  </div>
  <div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- //tittle heading -->
      <div class="row">
        <h1 class="text-left" style="color:rgb(72, 16, 85);">About Ecommerce Store</h1>
        <div class="col-lg-6 welcome-left">
          <h3 class="my-sm-3 my-2">E-commerce (electronic commerce) is the activity of electronically buying or selling
            products on online services or over the Internet. E-commerce draws on technologies such as mobile commerce,
            electronic funds transfer, supply chain management, Internet marketing, online transaction processing,
            electronic data interchange (EDI), inventory management systems, and automated data collection systems.
            E-commerce is the largest sector of the electronics industry and is in turn driven by the technological
            advances of the semiconductor industry. They do not need to go physical shops, instead just need a
            computer and a payment making options like net banking, credit card or debit card. If an
            order has not yet been shipped out to the customer, the customer may cancel it. The system
            cancels the order with the publishers or returns the books to them in the occurrence of a
            cancellation. A book can also be returned within a week. The payments will be credited to
            the customer's debit or credit card, depending on their preference.</h3>
        </div>

       
     <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
          <img src="/assets/Images/back.jpg" class="img-fluid" alt=" ">
        </div>
       
    
        <div class="welcome-left">
          <br><br>
          <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;What We Do ?</h1>
          <h3 class="my-sm-3" style="margin-left:15px;">Ecommerce Website provides customers with online
            shopping through a
            web browser. A customer can, create, sign in to his account, place items into a
            shopping cart and purchase using his credit card details.
            The Administrator will have additional functionalities when compared to the
            common user. He can add, delete and update the product details, product categories,
            member information and also confirm a placed order. </h3>
        </div>


        <div class="welcome-left">
          <br><br>
          <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;Our Vision</h1>
          <h3 class="my-sm-3" style="margin-left:15px;">
            <li>To shop while being in the comfort of your own home, without having to step out of the door. </li>
            <li>Provide home delivery free of cost.</li>
            <li>No wait to see the products if someone else are taking that.</li>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>